= render "messages", message: @message

- if current_user
  = form_for [@message, @comment],remote: true do |f|
    = f.text_area :comment
    %br
    = f.submit "Send"

.comment
  - @comments.each do |comment|
    = render "comments", comment: comment

