!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MiniBlog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .contents
      %header.header.clearfix
        %h1.header__title
          = link_to "Blog", root_path
        %h2.header__user-name
          - if user_signed_in?
            = "ログイン中：#{current_user.nickname}さん"
          - else
            ログインしていません。
        %ul.header__menu-list.clearfix
          - if user_signed_in?
            %li.menu
              = link_to "New", new_message_path
            %li.menu
              = link_to "MyPage", user_path(current_user.id)
            %li.menu
              = link_to "Edit", edit_user_registration_path
            %li.menu
              = link_to "SignOut",destroy_user_session_path, method: :delete
          - else
            %li.menu
              = link_to "SignUp", new_user_registration_path
            %li.menu
              = link_to "SignIn", new_user_session_path
      .body
        = yield
