<!DOCTYPE html>
<html>
  <head>
    <title>MiniBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Blog</h1>
      <ul class="header__list clearfix">
        <li><a href="#">Signin</a></li>
        <li><a href="#">SignOut</a></li>
        <li><a href="#">New</a></li>
      </ul>
    </header>
    <article>
      <%= yield %>
    </article>
  </body>
</html>
